/**
 *
 * {{properCase componentName}}
 *
 * @author {{username}}
 * @date {{date}}
*/

import React from 'react';
import PropTypes from 'prop-types';
import './{{properCase componentName}}.scss';

const {{properCase componentName}} = () => {
  return (
    <h1>{{properCase componentName}}</h1>
  )
}

{{properCase componentName}}.propTypes = { };

{{properCase componentName}}.defaultProps = { };

export default {{properCase componentName}};
